<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= name %></title>
  <link rel="stylesheet" href="./node_modules/bulma/css/bulma.min.css">
</head>
<body>
  <div id="root"></div>
  <script src="./src/index.ts"></script>
</body>
</html>